<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antjump.ant.goods.dao.GoodsMapper">

    <select id="selectGoodsDetail" resultType="GoodsDetailDTO">
        select /* com.anjump.ant.goods.dao.GoodsMapper#selectGoodsDetail(String goodsId) */
               a.goods_id
             , a.goods_name
             , a.goods_amount
             , a.goods_period
          from tbl_goods a
    </select>

    <select id="selectGoodsPossessionsList" resultType="GoodsPossesionsListDTO">
        select /* com.anjump.ant.goods.dao.selectGoodsPossessionsList() */
               a.goods_possession_id
             , b.goods_name
             , d.payment_time
          from tbl_goods_possessions a
          left join tbl_goods b on (b.goods_id = a.fk_goods_possessions)
          left join tbl_orders c on(a.fk_orders_possessions = c.order_id)
          left join tbl_payments d on(c.order_id = d.fk_orders_payments)
          left join tbl_members e on(e.member_id = d.fk_members_payments)
        where e.member_id = #{ memberId }
         order by a.goods_possession_id desc
    </select>

    <select id="selectGoodsPossessionDetail" resultType="GoodsPossessionDetailDTO">
        select /* com.anjump.ant.goods.dao.selectGoodsPossessionDetail(String possessionId) */
               a.goods_possession_id
             , a.goods_use_yn
             , a.goods_start_date
             , a.goods_end_date
             , a.goods_remaining_date
             , b.goods_name
             , d.payment_time
          from tbl_goods_possessions a
          left join tbl_goods b on (b.goods_id = a.fk_goods_possessions)
          left join tbl_orders c on(a.fk_orders_possessions = c.order_id)
          left join tbl_payments d on(c.order_id = d.fk_orders_payments)
         where a.goods_possession_id = #{ possessionId }
    </select>
</mapper>