<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antjump.ant.member.dao.MemberMapper">
    <resultMap id="MemberDto" type="MemberDto">
        <id property="memberId" column="MEMBER_ID" />
        <result property="memberName" column="MEMBER_NAME" />
        <result property="memberEmail" column="MEMBER_EMAIL" />
        <result property="memberPwd" column="MEMBER_PWD" />
        <result property="memberType" column="MEMBER_TYPE" />
        <result property="memberPhone" column="MEMBER_PHONE" />
        <result property="memberRegistTime" column="member_regist_time" />
        <result property="memberDeleteYn" column="MEMBER_DELETE_YN" />
        <result property="memberDeleteDate" column="MEMBER_DELETE_DATE" />
    </resultMap>

    <select id="selectMemberList" resultType="MemberDto">
        SELECT
               member_id
             , member_name
             , member_type
             , member_regist_time
             , member_delete_yn
          from tbl_members
    </select>

    <select id="selectByMemberId" resultType="MemberDto">
        SELECT
            MEMBER_ID
             ,  MEMBER_NAME
             ,  MEMBER_TYPE
             ,  MEMBER_EMAIL
             ,  MEMBER_PHONE
             , member_regist_time
             , member_delete_yn
        FROM TBL_MEMBERS
        WHERE MEMBER_ID = #{memberId}
    </select>

    <select id="selectByEmail" resultType="MemberDto">
        SELECT
                MEMBER_ID
             ,  MEMBER_NAME
             ,  MEMBER_PWD
             ,  MEMBER_TYPE
             ,  MEMBER_EMAIL
             ,  MEMBER_PHONE
        FROM TBL_MEMBERS
        WHERE MEMBER_EMAIL = #{memberEmail}
    </select>

    <select id="findByMemberEmail" resultType="MemberDto">
        SELECT
                MEMBER_ID
             ,  MEMBER_NAME
             ,  MEMBER_PWD
             ,  MEMBER_TYPE
             ,  MEMBER_EMAIL
             ,  MEMBER_PHONE
        FROM TBL_MEMBERS
        WHERE MEMBER_EMAIL = #{memberEmail}
    </select>

    <insert id="insertMember" parameterType="MemberDto" useGeneratedKeys="true" keyProperty="memberId">
        INSERT INTO TBL_MEMBERS
        (
            MEMBER_PHONE,
            MEMBER_NAME,
            MEMBER_PWD,
            MEMBER_EMAIL
        )
        VALUES
        (
            #{memberPhone},
            #{memberName},
            #{memberPwd},
            #{memberEmail}
        )
    </insert>

    <update id="updateMember" parameterType="MemberDto">
        update
            TBL_MEMBERS
        set
            MEMBER_PHONE = #{ memberPhone }
          , MEMBER_NAME = #{ memberName }
        where MEMBER_ID = #{ memberId }
    </update>

    <update id="deleteMember" >
        update
            TBL_MEMBERS
        set
            MEMBER_DELETE_YN = 'Y'
          , MEMBER_DELETE_DATE = now()
        where MEMBER_DELETE_YN = 'N'
          AND MEMBER_ID = #{ memberId }
    </update>


</mapper>
