<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antjump.ant.payment.dao.PaymentMapper">

    <select id="selectPaymentsList" resultType="PaymentListDTO">
        select /* com.antjump.ant.payment.dao.PaymentMapper#selectPaymentsList */
               a.payment_id
             , a.payment_time
             , a.payment_key
             , a.payment_status
             , b.member_id
             , b.member_name
             , c.refund_yn
          from tbl_payments a
          left join tbl_members b on (a.fk_members_payments = b.member_id)
          left join tbl_payment_state_histories c on(a.payment_id = c.fk_payments_states)
         order by payment_id desc
    </select>

    <select id="selectPaymentsDetail" resultType="PaymentDetailDTO">
        select /* com.anjump.ant.faq.dao.PaymentMapper#selectPaymentsDetail(String paymentId) */
               a.payment_id
             , a.payment_time
             , a.payment_key
             , a.payment_status
             , b.order_id
             , b.order_amount
             , c.member_id
             , c.member_name
             , c.member_email
             , c.member_phone
             , c.member_type
             , d.refund_yn
             , d.refund_reason
             , e.goods_use_yn
             , e.goods_remaining_date
          from tbl_payments a
          left join tbl_orders b on (a.fk_orders_payments = b.order_id)
          left join tbl_members c on (a.fk_members_payments = c.member_id)
          left join tbl_payment_state_histories d on(a.payment_id = d.fk_payments_states)
          left join tbl_goods_possessions e on (e.fk_orders_possessions = b.order_id)
         where a.payment_id = #{ paymentId }
    </select>

    <insert id="createOrder" parameterType="paymentCreateDTO">
        insert /* com.anjump.ant.faq.dao.PaymentMapper#createOrder(PaymentCreateDTO paymentCreateDTO) */
          into tbl_orders
        (
          order_uuid
        , order_amount
        , order_name
        , fk_members_orders
        )
        values
        (
          #{ orderId }
        , #{ amount }
        , #{ orderName }
        , 1
        )
    </insert>

    <insert id="createPayment" parameterType="paymentCreateDTO">
        insert /* com.anjump.ant.faq.dao.PaymentMapper#createOrder(PaymentCreateDTO paymentCreateDTO) */
          into tbl_payments
        (
          payment_key
        , payment_status
        , fk_members_payments
        , fk_orders_payments
        )
        values
        (
          #{ paymentKey }
        , #{ status }
        , 1
        , (select max(order_id) from tbl_orders)
        )
    </insert>

    <insert id="insertPaymentHistories" parameterType="paymentCreateDTO">
        insert /* com.anjump.ant.faq.dao.PaymentMapper#createOrder(PaymentCreateDTO paymentCreateDTO) */
          into tbl_payment_state_histories
        (
          payment_state
        , fk_payments_states
        , fk_members_payment_states
        )
        values
        (
          #{ status }
        , (select max(payment_id) from tbl_payments)
        , 1
        )
    </insert>

    <insert id="insertGoodsPossessions" parameterType="paymentCreateDTO">
        insert /* com.anjump.ant.faq.dao.PaymentMapper#createOrder(PaymentCreateDTO paymentCreateDTO) */
          into tbl_goods_possessions
        (
          goods_remaining_date
        , fk_goods_possessions
        , fk_orders_possessions
        )
        values
        (
          30
        , 1
        , (select max(order_id) from tbl_orders)
        )

    </insert>

</mapper>